.eventsHeader {
    background:  #191B1F !important;
    color: #FDFDFD;
    width: 98%;
    height: auto;
    border: #FDFDFD 0.5px solid;
    opacity: 0.75;
    text-align: left;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
}

.section-events {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}
  
.eventhead {
    font-size: 2.5rem;
}

.eventtext {
    color: rgb(37, 161, 151);
}

@media only screen and (max-width: 960px) {
    .thumb-events {
        display: none;
        height: auto;
    }
    .section-events {
        height: auto;
    }
}