.footer {
    background: rgb(226, 231, 235);
    background: linear-gradient(80deg, rgb(227, 235, 240) 13%, rgba(235, 236, 236, 0.984) 94%);
    height: 310px;
    color: #0e0f11;
    position: relative;
}

.footer .footer-content {
    height: 240px;
    display: flex;
    justify-content: space-evenly;
}

.footer .footer-content .footer-section {
    justify-content: space-evenly;
    padding: 25px;
    text-align: left;
}

.footer .footer-content .about .socials a {
    margin-top: 4px;
    margin-bottom: 3px;
    margin-left: 3px;
    border: none;
    width: 45px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
    border: 1px solid rgb(6, 74, 119);
    width: 45px;
    transition: all .3s;
    border-radius: 5px;
}

.footer .footer-content .footer-section ul a {
    margin-left: 5px;
    font-size: 18px;
    color: #0a0a0a !important;
    text-decoration: none;
    background-color: transparent;
}

.contactwe {
    padding-bottom: 2px;
}

.contactwe a {
    color: black;
}

.footer .footer-content .footer-section ul a:hover {
    color: #2571e2 !important;
    text-decoration: none;
    background-color: transparent;
}

.footer .footer-bottom {
    background: rgb(35, 40, 43);
    color: #eaecf1;
    width: 100%;
    padding-top: 20px;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media screen and (max-width: 960px) {
    .footer {
        height: auto;
    }
    .footer .footer-content {
        padding-bottom: 35px;
        height: auto;
        flex-direction: column;
    }
    .footer .footer-content .footer-section {
        padding-bottom: 25px;
    }
    .contactwe {
        padding-bottom: 29px;
    }
    .footer .footer-bottom {
        margin-top: 12px;
    }
}