.note {
    display: none;
}

.break {
    display: inline;
}

.homeBackground {
    background: #005AA7;
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);
    background: linear-gradient(to bottom, #FFFDE4, #005AA7);
}

.homeCard {
    background: #000000 !important;
    color: #FDFDFD;
    width: 98%;
    opacity: 0.75;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
    border: #FDFDFD 0.5px solid;
    text-align: left;
    display: inline-block;
}

.section {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 92%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 92%;
    flex-direction: row-reverse;
}

.imgfluid {
    height: 160px;
    border-radius: 39px;
}

.paras {
    padding: 0 60px;
}

.text1 {
    color: rgb(226, 244, 247);
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}

.text2 {
    color: rgb(236, 241, 247);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.text-big {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
}

.text-medium {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
}

.text-small {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
}

@media only screen and (max-width: 960px) {
    .section {
        padding: 17px;
        flex-direction: column-reverse;
    }
    .paras {
        padding: 0 18px;
    }
    .imgfluid {
        height: 204px;
        border-radius: 29px;
        border: none;
    }
    .text1 {
        font-size: 35px;
    }
    .text2 {
        font-size: 16px;
    }
    .bannerImage {
        width: 100%;
        height: auto;
    }
    .note {
        display: inline;
        color: red;
    }
}