/* NavBar */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
}

.navBarItems {
  background: #c02425; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0cb35,
    #c02425
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0cb35,
    #c02425
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  margin-right: 2rem;
  justify-content: space-evenly;
  display: flex;
  width: 35%;
  margin: auto;
  text-align: end;
}

.navLinks {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navLinks:hover {
  background-color: #f3d86a;
  border-radius: 10px;
  transition: all 0.2s ease-out;
  opacity: 0.5;
}

.fa-bars {
  color: white;
}

.menuIcons {
  display: none;
}

@media screen and (max-width: 960px) {
  .navBarItems {
    position: relative;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #c02425; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f0cb35,
      #c02425
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f0cb35,
      #c02425
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navLinks:hover {
    background-color: #f3d86a;
    border-radius: 5px;
    opacity: 0.5;
  }

  .menuIcons {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

/* Home */
/* Event */
/* Programming */
/*  Result */

/* 
Contributors
*/

.profile {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contributor {
  margin: 5px;
  width: 300px;
  height: 350px;
  position: relative;
  text-align: center;
}

.contributor img {
  width: 100%;

  border-radius: 5px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 10px;
  transition: 0.6s ease-in;
  background-color: #1a1200;
  color: whitesmoke;
}

.desc {
  text-align: justify;
  padding: 3px;
}

.name {
  margin-bottom: 5px;
}

.contact {
  margin-top: 5px;
}

.contributor:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .profile {
    margin: 0;
    padding: 0;
  }
  .contributor {
    width: 100%;
  }
}
