/* NavBar */
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homeIcon {
  height: 25px;
  width: 35px;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  margin-left: 5px;
}

.navBarContent {
  justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .navBarToggle {
    position: absolute;
    right: auto;
    left: auto;
  }
}

/* Home */

@media screen and (max-width: 960px) {
  .bannerImage {
    width: 100%;
    height: auto;
  }
}

.homeBackground {
  background-color: white;
}

.homeCard {
  background: white !important;
  color: #000000;
  width: 98%;
  height: auto;
  border: grey 0.5px solid;
  opacity: 0.75;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
}

.homeCard:hover {
  box-shadow: 7px 7px 5px grey;
}

/* Notes */

.notesCard {
  text-align: center;
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
}

.bannerImageNotes {
  width: 100%;
  height: 300px;
}

@media only screen and (max-width: 960px){
  .bannerImageNotes {
    width: 100%;
    height: auto;
  }
}

/* Programming */

.bannerImageProgramming {
  width: 100%;
  height: 100%;
}

.forkLink {
  position: absolute;
  right: 0;
  top: 50px;
}
/*  Result */

/* 
Contributors
*/

.profile {
  display: flex;
  margin: 5px;
  padding: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contributor {
  margin: 5px;
  width: 300px;
  height: 100%;
  position: relative;
  text-align: center;
}

.contributor img {
  width: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
  opacity: 1;
  height: 100%;
  transition: 0.6s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 500;
}
.about {
  padding: 90px 0;
  text-align: center;
}

.about p {
  display: inline;
}
.desc {
  text-align: center;
  padding: 3px;
}

.name {
  margin-bottom: 5px;
}

.contact {
  margin: 5px 10%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.contributor:hover img {
  opacity: 0.5;
  filter: blur(4px);
  transition: 0.6s ease-in;
}

.contributor:hover .overlay {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .contributor {
    width: 100%;
  }
}
